SUBSYSTEM=="net", ACTION=="add", KERNEL=="bond0", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="vlan110", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="vlan600", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="phy-br-vlan600", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="phy-br-vlan110", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="int-br-vlan600", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="int-br-vlan110", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="br-vlan600", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="br-vlan110", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="tap*", ATTR{mtu}="9000"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="br-int", ATTR{mtu}="9000"
